ul {
    display:inline;
    list-style-type: none;
}

.toolbar a {
    color: #20840f;
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 30px;
}

nav li {
    float: left;
}

li:hover {
    background-color: #ecefed;
}

h1 {
    color: #20840f;
    font-family: 'Courier New', serif;
    font-style: italic;
    font-weight: bold;
}

h4 {
    color: #20840f;
    font-family: 'Courier New', serif;
    font-style: italic;
    font-weight: normal;
}

.mainphoto {
    position: relative;
}

.topleft {
    position: absolute;
    top: 20px;
    left: 18px;
}

.topright {
    position: absolute;
    top: 20px;
    right: 18px;
}

.center2 {
    position: absolute;
    left: 0;
    top: 30%;
    width: 170%;
    text-align: center;
}

.center1 {
    position: absolute;
    left: 0;
    top: 5%;
    width: 52%;
    text-align: center;
    font-size: 14px;
}