
 /*61C732 колір для іконок в секції переваги*/

body {
    max-width: 980px;
    margin: auto;
}

ul {
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.toolbar a {
    color: #20840f;
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 30px 0 30px;
}

li:hover {
    background-color: #ecefed;
    
}

h1 {
    color: #20840f;
    font-family: 'Courier New', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
}

h4 {
    color: #20840f;
    font-family: 'Courier New', serif;
    font-style: italic;
    font-weight: normal;
}

.mainphoto {
    position: relative;
}

.topleft {
    position: absolute;
    top: 20px;
    left: 18px;
}

.topright {
    position: absolute;
    top: 20px;
    right: 18px;
}

.main {
    color: #20840f;
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 40px 0;
}

#about-us-grid {
    display: grid;
    grid-template-columns: 1fr 550px;
    grid-template-rows: 1fr;
}

#about-us-photo {
    grid-column: 2/3;
    grid-row: 1/2;
    
}

#about-us-text {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items:center;
}

#aboutphoto {
    max-width: 550px;
}

#about-us p {
    
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 14px;
    
}



.allpluses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr;
    border: 1px solid;
    border-color: #d8d8d8;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.photo {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content:center;
}

.text {
    grid-column: 2/5;
    grid-row: 1/2;
}

#benefits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#why-we h5 {
    color: #20840f;
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#recordgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#recordphoto {
    grid-column: 1/2;
    grid-row: 1/2;
}

#recordform {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 10px 10px 10px 50px;
}

#photor {
    max-width: 500px;
}


#clinic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    text-align: center; 
    
}

#contact h5 {
    color: #adabab;
}





footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

